<!DOCTYPE html>
<html>

<head>
    <title>Employee Management</title>
    <style>
        .button-style {
            background: grey;
            height: 45px;
            width: 200px;
            color: white;
            font: oblique;
        }
    </style>
</head>

<body style="margin-top:150px;">
    <h1 style="text-align:center">
        <font color="black" size="5" style="font-family: avenir"><span style="color:#3498db;"><span
                    style="font-size:26px;"><strong><span style="font-family: avenir;">Employee
                            Management</span></strong></span></span></font>
    </h1>
    <center style="width:50%;margin:0 auto">
        <form action="/" method="post">
            <div style="margin-top:50px;">
                <button class="button-style">MAIN MENU</button>
            </div>
            <div style="margin-top:50px;">
                <button formaction="/addemp" class="button-style">Register new employee</button>
            </div>
            <div style="margin-top:50px;">
                <button formaction="/edtempdtl" class="button-style">Edit employee details</button>
            </div>
            <div style="margin-top:50px;">
                <button formaction="/shwempdtl" class="button-style">Show employee details and ID card</button>
            </div>
            <div style="margin-top:50px;">
                <button formaction="/rmvemp" class="button-style">Remove employee</button>
            </div>
        </form>
    </center>

</body>

</html>