<!DOCTYPE html>
<html>
	<title>Show Employee Details</title>
	<center>
	<h1 style="text-align:center"><font color="black" size="5" style="font-family: avenir"><font color="black" size="5" style="font-family: avenir"><font color="black" size="5" style="font-family: avenir"><font color="black" size="5" style="font-family: avenir"><span style="color:#3498db;"><span style="font-size:26px;"><strong><span style="font-family: avenir;">Employee Management: Employee Details</span></strong></span></span></font></font></font></font></h1>
	
	<hr />
	<form action="/shwempcrdhoz" autocomplete="on" method="Get">
	<p><font color="black" size="5" style="font-family: avenir"><font color="black" size="5" style="font-family: avenir"><font color="black" size="5" style="font-family: avenir"><font color="black"><font size="5"><font style="font-family:avenir">Employee ID:</font></font></font>&nbsp;<input autofocus="" name="emp_id" size="40" style="width:100px;height:30px;font-size:14pt;" type="text" /><strong><button formaction="" style="background: grey; height: 40px; width: 100px; color:white; font:oblique;" type="submit">SEARCH</button></strong> </font> </font></font></p>
	</form>
	
	<hr />
	<table border="1" cellpadding="1" cellspacing="1" style="width:100%;">
		<tbody>
			<tr>
				<td colspan="2" style="text-align: center;"><font color="black" size="5" style="font-family: avenir"><font color="black" size="5" style="font-family: avenir"><font color="black" size="5" style="font-family: avenir"><font color="black" size="5" style="font-family: avenir">{{ imgurl }}</font></font></font></font></td>
			</tr>
			<tr>
				<td colspan="2"><font color="black" size="5" style="font-family: avenir"><font color="black" size="5" style="font-family: avenir"><font color="black" size="5" style="font-family: avenir"><font color="black" size="5" style="font-family: avenir">Profile picture URL:&nbsp;<strong>{{ imgurl }}</strong></font></font></font></font></td>
			</tr>
			<tr>
				<td><font color="black" size="5" style="font-family: avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir">First name:&nbsp;<strong>{{ fname }}</strong></font></font></font></font></font></font></font></font></font></font></td>
				<td><font color="black" size="5" style="font-family: avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir">Last name:&nbsp;<strong>{{ lname }}</strong></font></font></font></font></font></font></font></font></font></font></td>
			</tr>
			<tr>
				<td colspan="2"><font color="black" size="5" style="font-family: avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir">Position:&nbsp;<strong>{{ position }}</strong></font></font></font></font></font></font></font></font></font></font></td>
			</tr>
			<tr>
				<td colspan="2"><font color="black" size="5" style="font-family: avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir">Employee ID:&nbsp;<strong>{{ id }}</strong></font></font></font></font></font></font></font></font></font></font></td>
			</tr>
			<tr>
				<td colspan="2"><font color="black" size="5" style="font-family: avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir">Handphone number:&nbsp;<strong>{{ phone }}</strong></font></font></font></font></font></font></font></font></font></font></td>
			</tr>
			<tr>
				<td colspan="2"><font color="black" size="5" style="font-family: avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir">Email:&nbsp;<strong>{{ email }}</strong></font></font></font></font></font></font></font></font></font></font></td>
			</tr>
			<tr>
				<td colspan="2"><font color="black" size="5" style="font-family: avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir">Join date:&nbsp;<strong>{{ jdate }}</strong></font></font></font></font></font></font></font></font></font></font></td>
			</tr>
			<tr>
				<td colspan="2"><font color="black" size="5" style="font-family: avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir">Salary:&nbsp;<strong>{{ salary }}</strong></font></font></font></font></font></font></font></font></font></font></td>
			</tr>
			<tr>
				<td colspan="2"><font color="black" size="5" style="font-family: avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir">Accommodation address:&nbsp;<strong>{{ location }}</strong></font></font></font></font></font></font></font></font></font></font></td>
			</tr>
			<tr>
				<td colspan="2"><font color="black" size="5" style="font-family: avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir">Interest:&nbsp;<strong>{{ interest }}</strong></font></font></font></font></font></font></font></font></font></font></td>
			</tr>
			<tr>
				<td colspan="2"><font color="black" size="5" style="font-family: avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir">Date of birth:&nbsp;<strong>{{ dob }}</strong></font></font></font></font></font></font></font></font></font></font></td>
			</tr>
			<tr>
				<td colspan="2"><font color="black" size="5" style="font-family: avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir"><font color="black"><font size="5"><font style="font-family:avenir">Primary skills:&nbsp;<strong>{{ skills }}</strong></font></font></font></font></font></font></font></font></font></font></td>
			</tr>
		</tbody>
	</table>
	
	<form action="/" method="get">
	<p><font color="black" size="5" style="font-family: avenir"><button formaction="/" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" type="submit">MAIN MENU</button>&nbsp;<form action="/edtempdtl" method="Get"><button style="background:grey; height:45px; width:200px; color:white; font:oblique" type="submit">EDIT THIS DETAIL</button></form></font>&nbsp;</p>
	</form>
	
	<p><font color="black" size="5" style="font-family: avenir"><font color="black" size="5" style="font-family: avenir"><font color="black" size="5" style="font-family: avenir"><font color="black" size="5" style="font-family: avenir">&nbsp;</font></font></font></font></p>
	</center>
	
</html>
