<!DOCTYPE html>
<html>

<head>
	<title>Employee Card</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="text-align:center">
			<font color="black" size="5" style="font-family: avenir">
				<font color="black" size="5" style="font-family: avenir">
					<font color="black" size="5" style="font-family: avenir"><span style="color:#3498db;"><span
								style="font-size:26px;"><strong><span style="font-family: avenir;">Employee
										Card</span></strong></span></span></font>
				</font>
			</font>
		</h1>

		<hr />
		<font color="black" size="5" style="font-family: avenir">
			<font color="black" size="5" style="font-family: avenir">
				<font color="black">
					<font size="5">
						<font style="font-family:avenir">Employee ID:</font>
					</font>
				</font>&nbsp;<input autofocus="" name="emp_id" size="40" style="width:100px;height:30px;font-size:14pt;"
					type="text" /><strong><button formaction=""
						style="background: grey; height: 40px; width: 100px; color:white; font:oblique;"
						type="submit">SEARCH</button></strong>
			</font>
		</font>

		<hr />
		<font color="black" size="5" style="font-family: avenir">
			<font color="black" size="5" style="font-family: avenir"> </font>
		</font>

		<table border="1" cellpadding="1" cellspacing="1" style="width:100%;">
			<tbody>
				<tr>
					<td colspan="1" rowspan="4" style="width:25%">
						<font color="black" size="5" style="font-family: avenir">
							<font color="black" size="5" style="font-family: avenir">
								<font color="black" size="5" style="font-family: avenir">{{ image_url }}</font>
							</font>
						</font>
					</td>
					<td style="width: 37.5%;">
						<font color="black" size="5" style="font-family: avenir">
							<font color="black" size="5" style="font-family: avenir">
								<font color="black" size="5" style="font-family: avenir">Employee ID:<br />
									<strong>{{ id }}</strong>
								</font>
							</font>
						</font>
					</td>
					<td style="width: 37.5%;">
						<font color="black" size="5" style="font-family: avenir">
							<font color="black" size="5" style="font-family: avenir">
								<font color="black" size="5" style="font-family: avenir">Position:<br />
									<strong>{{ position }}</strong>
								</font>
							</font>
						</font>
					</td>
				</tr>
				<tr>
					<td colspan="2" rowspan="1" style="width: 75%;">
						<font color="black" size="5" style="font-family: avenir">
							<font color="black" size="5" style="font-family: avenir">
								<font color="black" size="5" style="font-family: avenir">Employee Name:<br />
									<strong>{{ fname }}&nbsp;</strong>
								</font>
							</font>
							<font color="black">
								<font size="5">
									<font style="font-family:avenir">
										<font color="black">
											<font size="5">
												<font style="font-family:avenir"><strong>{{ lname }}</strong></font>
											</font>
										</font>
									</font>
								</font>
							</font>
						</font>
					</td>
				</tr>
				<tr>
					<td style="width: 35.7%;">
						<font color="black" size="5" style="font-family: avenir">
							<font color="black" size="5" style="font-family: avenir">
								<font color="black">
									<font size="5">
										<font style="font-family:avenir">Join Date:<br />
											<strong>{{ jdate }}</strong>
										</font>
									</font>
								</font>
							</font>
						</font>
					</td>
					<td style="width: 35.7%;">
						<font color="black" size="5" style="font-family: avenir">
							<font color="black" size="5" style="font-family: avenir">
								<font color="black">
									<font size="5">
										<font style="font-family:avenir">Expire Date:<br />
											<strong>{{ xdate }}</strong>
										</font>
									</font>
								</font>
							</font>
						</font>
					</td>
				</tr>
				<tr>
					<td style="width: 37.5%;">
						<font color="black" size="5" style="font-family: avenir">
							<font color="black">
								<font size="5">
									<font style="font-family:avenir">
										<font color="black">
											<font style="font-family:avenir">Handphone Number:<br />
												<strong>{{ phone }}</strong>
											</font>
										</font>
									</font>
								</font>
							</font>
						</font>
					</td>
					<td style="width: 37.5%;">
						<font color="black" size="5" style="font-family: avenir">
							<font color="black">
								<font size="5">
									<font style="font-family:avenir">
										<font color="black">
											<font style="font-family:avenir">Email:<br />
												<strong>{{ email }}</strong>
											</font>
										</font>
									</font>
								</font>
							</font>
						</font>
					</td>
				</tr>
				<tr>
					<td colspan="4" style="width:25%">
						<font color="black" size="5" style="font-family: avenir">
							<font color="black" size="5" style="font-family: avenir">
								<font color="black" size="5" style="font-family: avenir">Location:<br />
									<strong>{{ location }}</strong>
								</font>
							</font>
						</font>
					</td>
				</tr>
			</tbody>
		</table>
		<font color="black" size="5" style="font-family: avenir">
			<font color="black" size="5" style="font-family: avenir"> </font>
		</font>

		<p>
			<font color="black" size="5" style="font-family: avenir">
				<font color="black" size="5" style="font-family: avenir">
					<font color="black" size="5" style="font-family: avenir"><button formaction=""
							style="background: grey; height: 45px; width: 200px; color:white; font:oblique;"
							type="submit">VERTICAL VIEW</button>&nbsp;<button formaction=""
							style="background: grey; height: 45px; width: 200px; color:white; font:oblique;"
							type="submit">RESET</button>&nbsp;</font>
				</font>
			</font>
		</p>
		<font color="black" size="5" style="font-family: avenir">
			<font color="black" size="5" style="font-family: avenir"> </font>
		</font>

		<p>
			<font color="black" size="5" style="font-family: avenir">
				<font color="black" size="5" style="font-family: avenir">
					<font color="black" size="5" style="font-family: avenir">&nbsp;</font>
				</font>
			</font>
		</p>
		<font color="black" size="5" style="font-family: avenir">
			<font color="black" size="5" style="font-family: avenir"> </font>
		</font>

	</font>
</center>

</html>