<!DOCTYPE html>
<html>

<head>
    <title>Edit Employee Performance Details</title>
</head>
<center>
    <h1 style="text-align:center">
        <font color="black" size="5" style="font-family: avenir">
            <font color="black" size="5" style="font-family: avenir">
                <font color="black" size="5" style="font-family: avenir">
                    <font color="black" size="5" style="font-family: avenir"><span style="color:#3498db;"><span
                                style="font-size:26px;"><strong><span style="font-family: avenir;">Performance
                                        Tracker: Edit Employee Performance Details</span></strong></span></span></font>
                </font>
            </font>
        </font>
    </h1>

    <hr />
    <form action="/edtempdtl" id="emp_id_form" method="get">
        <p>Employee ID: &nbsp; <input autofocus="" name="emp_id" size="40"
                style="width:100px;height:30px;font-size:14pt;" type="text" /> <strong><button formaction=""
                    style="background: grey; height: 40px; width: 100px; color:white; font:oblique;"
                    type="submit">SEARCH</button> </strong></p>
    </form>

    <hr />&nbsp;
    <form action="/prfedtact" method="post">
        <table border="1" cellpadding="1" cellspacing="1" style="width:500px">
            <tbody>
                <tr>
                    <td colspan="2" style="text-align:center; width:100%">{{ imgurl }}</td>
                </tr>
                <tr>
                    <td style="text-align:right; width:30%"><span
                            style="color:black; font-family:avenir; font-size:x-large">ID : </span></td>
                    <td style="width:70%"><span style="color:black"><span style="font-size:x-large"><strong>{{ id
                                    }}</strong> </span> </span></td>
                </tr>
                <tr>
                    <td style="text-align:right; width:30%"><span
                            style="color:black; font-family:avenir; font-size:x-large">Name :</span></td>
                    <td style="width:70%"><span style="color:black"><span style="font-size:x-large"><strong>{{ fname }}
                                    {{
                                    lname }}</strong> </span> </span></td>
                </tr>
                <tr>
                    <td style="text-align:right; width:30%"><span
                            style="color:black; font-family:avenir; font-size:x-large">Position : </span></td>
                    <td style="width:70%"><span style="color:black"><span style="font-size:x-large"><strong>{{ position
                                    }}</strong> </span> </span></td>
                </tr>
                <tr>
                    <td style="text-align:right; width:30%"><span
                            style="color:black; font-family:avenir; font-size:x-large">Join Date :</span></td>
                    <td style="width:70%"><span style="color:black"><span style="font-size:x-large"><strong>{{ jdate
                                    }}</strong> </span> </span></td>
                </tr>
                <tr>
                    <td style="text-align:right; width:30%"><span style="color:black"><span
                                style="font-size:x-large">Goal
                                :</span></span></td>
                    <td style="width:70%"><input autofocus="" name="prf_goal" size="40"
                            style="width:98%;height:30px;font-size:14pt;" type="text" value="{{ goal }}" /></td>
                </tr>
                <tr>
                    <td style="text-align:right; width:30%"><span style="color:black"><span
                                style="font-size:x-large">Objective :</span></span></td>
                    <td style="width:70%"><input autofocus="" name="prf_obj" size="40"
                            style="width:98%;height:30px;font-size:14pt;" type="text" value="{{ objective }}" /></td>
                </tr>
                <tr>
                    <td style="text-align:right; width:30%"><span style="color:black"><span
                                style="font-size:x-large">Grade
                                :</span></span></td>
                    <td style="width:70%"><input autofocus="" name="prf_grade" size="40"
                            style="width:98%;height:30px;font-size:14pt;" type="text" value="{{ grade }}" /></td>
                </tr>
                <tr>
                    <td style="text-align:right; width:30%"><span style="color:black"><span
                                style="font-size:x-large">Pros
                                :</span></span></td>
                    <td style="width:70%"><input autofocus="" name="prf_pros" size="40"
                            style="width:98%;height:30px;font-size:14pt;" type="text" value="{{ pros }}" /></td>
                </tr>
                <tr>
                    <td style="text-align:right; width:30%"><span style="color:black"><span
                                style="font-size:x-large">Cons
                                :</span></span></td>
                    <td style="width:70%"><input autofocus="" name="prf_cons" size="40"
                            style="width:98%;height:30px;font-size:14pt;" type="text" value="{{ cons }}" /></td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>
        <input name="prf_id" size="40" style="width:100px;height:30px;font-size:14pt;" type="hidden"
            value="prf{{ id }}" />
            <input name="emp_id" size="40" style="width:100px;height:30px;font-size:14pt;" type="text"
            value="{{ id }}" />
        <button style="background:grey; height:45px; width:200px; color:white; font:oblique" type="submit">EDIT</button>
    </form>


    <p>&nbsp;</p>

    <form action="/" method="post">
        <font color="black" size="5" style="font-family: avenir"><button
                style="background: grey; height: 45px; width: 200px; color:white; font:oblique;" type="submit">MAIN
                MENU</button> &nbsp;<button formaction="/empmng"
                style="background: grey; height: 45px; width: 200px; color:white; font:oblique;"
                type="submit">BACK</button> &nbsp; </font>
    </form>
</center>


</html>