<!DOCTYPE html>
<html>
<head>
	<title>HR Management System</title>
    <style>
        .button-style{
            background: grey; 
            height: 45px; 
            width: 200px; 
            color:white; 
            font:oblique;
        }
    </style>
</head>
<body style="margin-top:150px;">
    <h1 style="text-align:center"><font color="black" size="5" style="font-family: avenir"><span style="color:#3498db;"><span style="font-size:26px;"><strong><span style="font-family: avenir;">HR Management System</span></strong></span></span></font></h1>
    <center style="width:50%;margin:0 auto">
        <div style="margin-top:50px;">
            <form action="/addemp" method="post" >
                <button class="button-style">Employee Management</button>
            </form>
        </div>
        <div style="margin-top:50px;">
            <form action="/" method="post" >
                <button class="button-style">Attendance</button>
            </form>
        </div>    
        <div style="margin-top:50px;">
            <form action="/" method="post" >
                <button class="button-style">Payroll</button>
            </form>
        </div>
        <div style="margin-top:50px;">
            <form action="/perf" method="post" >
                <button class="button-style">Performance Tracker</button>
            </form>
        </div>
    </center>
    
</body>

</html>

